.TodoFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.TodoFooter button {
    /* border: none;
    outline: none;
    background: #8e49e8; */
    /* color: #fff; */
    font-size: 16px;
    /* cursor: pointer; */
    /* border-radius: 3px; */
    padding: 10px 10px;
    width: 90px;
    

    /* opacity: 0.6; */
    /* pointer-events: none; */
    opacity: 1;
    pointer-events: auto;
}

.TodoFooter button.active {
    opacity: 1;
    pointer-events: auto;
}