button {
  border: none;
  outline: none;
  background: #8e49e8;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

button.active {
  opacity: 1;
  /* disable the cursor pointer */
  pointer-events: auto;
}

button.inactive {
  opacity: 0.6;
  /* disable the cursor pointer */
  pointer-events: none;
}
